*
{
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out ;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 85%;
    color: #4b5554;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
	/* background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); */
}

body.noScroll {
  overflow: hidden;
}

#whitehorse0 {
	font-family:Courier;
	text-align:center;
	-moz-user-select: none;
}

#whitehorse0:hover {
	filter: invert(100%);
}

.cover-banner {
	position: relative;
    width: 100%;
    min-height: 150px;
	margin: 0;
    padding: 0;
	opacity: 0.7;
	background: url('../img/index.jpg');
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Segoe UI, Arial, sans-serif;
	font-size: 14px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
nav li {
    display: inline-block;
    list-style: none;
}


.nav-main,
.nav-credits {
    float: right;
}

.nav-main li,
.nav-credits li {
    margin-left: 1.85em;
}

.spotlight {
    text-align: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #69706f;
	word-wrap: break-word;
}

a:hover {
    opacity: 0.65;
	outline-width: 0;
	cursor: pointer;
}

hr.style {
	border: 0; 
	height: 0; 
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
	width: 96% !important;
}

header {
    padding: 0;
}

.spotlight h1 {
    font-size: 2.5em;
    font-weight: 100;
    margin-bottom: 1em;
}
.spotlight h1 strong {
    display: inline;
    font-weight: 500;
}

.spotlight h2 {
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 5em;
}

.spotlight-image {
    margin: 8em 0 10em;
    padding: 0;
}
.social li {
    float: left;
    margin-right: 1em;
}
.logo {
    display: block;
    padding: .5em 0;
}
.nav-main li a {
    display: block;
    padding: .5em 1.5em;
    border: 1.5px solid #15cab8;
    border-radius: 60px;
}

.nav-main li a:hover {
    color: #111;
    border: 1.5px solid #FF8A80;
}

/* Styles to help demonstrate the grid */

code,
pre {
    font-family: 'Source Code Pro', Consolas, Menlo, Monaco, monospace;
    padding: 3px;
    color: #333;
    border-radius: 5px;
    /* background: #E0F2F1; */
}

pre {
    padding: 10px;
    text-align: center;
	white-space: pre-line;
}

pre[class*='language-'], code[class*='language-'] {
	white-space: pre-line;
}

pre.javascript {
	background: #fbcd6b;
	color: #fff;
	opacity: 0.8;
}

pre.html {
	background: #59bbe7;
	color: #fff;
	opacity: 0.8;
}

pre.php {
	background: #669;
	color: #fff;
	opacity: 0.8;
}

.demo p {
    margin: 0;
}

.demo .column pre {
    margin: 0;
    padding: 20px 0;
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}

.demo .column pre:hover {
    background: #A7FFEB;
}

.grid,
.column {
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}

.demo .column .grid {
    overflow: hidden;
    background: rgba(241,227,213,.5);
}

.demo .column .row:first-child {
    border-radius: 5px 5px 0 0;
}

.demo .column .row:last-child {
    border-radius: 0 0 5px 5px;
}

p code {
    display: inline-block;
    margin-top: 5px;
}

/* Styles to help article */

.above-title .entry-dateline::before {
    content: '\00B7';
    padding: 0 .5em;
	font-weight: bold;
}

article header h1 a {
    color: #7AC9ED;
}

a.dateline {
	font-size: 14px;
	color: rgba(26,26,26,.4);
}

.sitewrapper {
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.6em;
	font-family: "proxima-nova";
	font-size: 16px;
	line-height: 1.8em;
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
	color: rgba(26,26,26,.6);
	margin-bottom: 30px;
}

.entry-header {
	margin-bottom: 20px;
}

.entry-dateline {
	display: inline;
	color: rgba(26,26,26,.4);
}

h1.entry-title {
	font-family: "adobe-garamond-pro";
	font-size: 34px;
	line-height: 1.2em;
	text-transform: none;
	letter-spacing: 0px;
	font-weight: 400;
	font-style: normal;
	margin: 5px 0;
}

.entry-title {
	margin: 5px 0;
}

.entry-content-paragraf {
	color: rgba(26,26,26,.6);
	font-size: 24px;
	letter-spacing: normal;
	line-height: 1.45;
	text-transform: none;
}

.commit-branch-wrap {
	display: inline-block;
	max-width:690px;
	position:relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}

a.commit-branch-name {
	color: #0366d6;
}
a:hover.commit-branch-name {
	opacity: 1;
	text-decoration: underline;
}

.commit-branch-name {
	display: inline-block;
	padding: 2px 6px;
	font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	color: rgba(27,31,35,0.6);
	background-color: #E0F2F1;
	border-radius: 3px;
}

.commit-branch-meta {
	font-size: 12px;
	line-height: 20px;
	color: #959da5;
}

.commit-branch-muted-link {
	color: #586069;
}

.commit-branch {
	position: relative;
	height: 24px;
	display: inline-block;
	top: 7px;
	padding: 0 7px;
	background: #444;
	background: -moz-linear-gradient(#444, #222);
	background: -webkit-linear-gradient(#444, #222);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444',endColorstr='#222222')";
	border: 1px solid black;
	border-radius: 3px;
	color: #fff;
	font-family: Consolas,"Liberation Mono",Courier,monospace;
	font-size: 13px;
	line-height: 24px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: top;
	z-index: 100;
	
	max-width: 125px;
	transition: .2s max-width linear;
	-o-transition: .2s max-width linear;
	-moz-transition: .2s max-width linear;
	-webkit-transition: .2s max-width linear;
	-ms-transition: .2s max-width linear;
}

/* Transition to complete width! */
.commit-branch:hover, .commit-branch:active {
	max-width: inherit;
	color: #fff;
}

@media screen and (max-width: 599px) {  
  hr.style {
	padding-left: 20px;
	padding-right: 20px;
	width: 90% !important;
  }
  
  h1.entry-title {
	font-family: "adobe-garamond-pro";
	font-size: 30px;
	line-height: 1em;
  }
  
  .entry-content-paragraf {
	color: rgba(26,26,26,.6);
	font-size: 20px;
	line-height: 1.35;
  }
}